<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farzana's Food App!</title>
</head>

<body>
    <header>
        <h1>Welcome to Farzana's Food App!</h1>
    </header>
    <h2>A web application to record all your favourite foods and recipes.</h2>
    <nav>
        <ul>
            <li><a href="~">Home</a></li>
            
            <li><a href="recipe">List of Recipes</a></li>
            <li><a href="food">List of Foods</a></li>
            <li><a href="restaurant">List of Restaurants</a></li>
        </ul>
    </nav>

</body>


</html>
